.header{
  display: flex;
  align-items: center;

  width: 100%;
  height: var(--size-header);

  padding-left: var(--size-padding);
  padding-right: var(--size-padding);

  background-color: var(--primary);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .3);
}

.title{
  color: var(--light);
}
