.btns {
  display: grid;
  grid-template-columns: var(--size-grid-2);
  gap: var(--size-margin);

  &__one {
    &::before {
      content: attr(data-text);
      color: var(--dark);
      padding-top: var(--size-padding);
      padding-bottom: var(--size-padding);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    button {
      width: 100%;
    }
  }
}
