.conteiner{
  width: 100%;
  height: 65vh;
  margin-top: var(--size-header);
  opacity: 0.6;
  position: relative;
  &::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(255, 255, 255, .1);
    background-image: url("/bg.svg");
  }
  iframe{
    width: 100%;
    height: 100%;
  }
}
